
.dashboard * {
    font-family: 'Neue-roman';
}

.dashboard{
    margin: 3em 2em;
    display: flex;
    flex-direction: column;
}

.message-btn{
    padding: 0.5em;
}

.list-heading{
    font-size: 1.6rem;
    font-family: "Neue-medium";
color: #2b2b2b;
    letter-spacing: 1px;
}


.scroll-function{
    width: 100%;
    padding: 1.5em;
    overflow-x: scroll;
display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
}

