
.proposal-container{
   letter-spacing: 1px;
   padding: 3em 2em;
   background-color: #f3f5f2;
   max-width: 1000px;
   margin: auto;
   }


   .proposal-positioning{
       background-color: white;
       box-shadow: 0 0 3px -2px;
       padding: 1.5em;
   }

   .proposal-container .submit-button button{
        padding: 0.8em 1.2em;
        margin: 1em 0;
        font-weight: 600;
        letter-spacing: 1px;
   }

   .proposal-flex-direction{
      display: flex;
      flex-direction: column;
   }


   @media (max-width: 445px){
    .proposal-container{
        padding: 2em 0;
    }
   }