
.payment-container{
    margin: 1em;
    background-color: white;
    font-family: 'Neue-roman';
}

.payment-card-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-card{
    padding: 1em;
    box-shadow: 0 0 3px -1px black;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.payment-card .title{
    font-size: 2rem;
}


.payment-card .price{
    font-size: 1.5rem;
}

.payment-card .payment-button{
    padding: 0.5em 1em;
    font-size: 1rem;
}

.payment-card .payment-button:active{
    background-color: #4cae9ac0;
}