.projects-container{
    margin: 5em;
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.project-card{
    background-color: white;
    min-width: 300px;
    max-width: 500px;
    font-family: 'Neue-roman';
    padding: 2em;
    border-radius: 6px;
    box-shadow: 0 0 4px -2px black;
}

.project-card .title{
    font-family: 'Neue-light';
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.project-card a{
    text-decoration: none;
    color: white;
    background-color: #4cae9b;
    padding: 0.5em 1em;
    border-radius: 3px;
}

.project-card a:hover{
   box-shadow: 0 0 3px 1px rgb(194, 194, 194);
}
