
.logout{
    background-color: tomato !important;
    margin: 0.2em ;
    height: 40px;
}

#Finds li{
    background-color: transparent;
}


#Finds .special-div{
   width: 7em;
   display: flex;
   flex-direction: column;
   align-items: center;
}